.counters 
    padding-top: 69px
    background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%)

    @include tablet 
        padding-top: 40px

    .counter-list 
        display: flex
        align-items: center
        justify-content: center
        flex-wrap: wrap

        @include phone 
            flex-direction: column

        .counters-item
            margin: 0 35px

            @include tablet 
                margin: 0 15px

            .counter-icon 
                margin-bottom: 30px

                @include tablet 
                    margin-bottom: 15px

            .counter-number 
                color: #ffffff
                font-family: "Montserrat-UltraLight"
                font-size: 48px
                font-weight: 400
                line-height: 36px
                margin-bottom: 21px

                @include tablet 
                    font-size: 32px
                    margin-bottom: 15px

            .counter-name  
                position: relative 
                color: #c7b299
                font-family: Montserrat-Light
                font-size: 14px
                font-weight: 300
                line-height: 20px
                text-transform: uppercase
                margin-bottom: 92px

                &:after 
                    content: ""
                    position: absolute
                    bottom: -30px
                    left: 50%
                    transform: translateX(-50%)
                    width: 30px
                    height: 2px
                    background-color: #ffffff

                @include tablet 
                    margin-bottom: 60px
                    font-size: 12px