@font-face 
    font-family: "WorkSans-Bold"
    src: url("../fonts/WorkSans/WorkSans-Bold.ttf") format("TrueType")
@font-face 
    font-family: "WorkSans-Regular"
    src: url("../fonts/WorkSans/WorkSans-Regular.ttf") format("TrueType")
@font-face 
    font-family: "WorkSans-Light"
    src: url("../fonts/WorkSans/WorkSans-Light.ttf") format("TrueType")
@font-face 
    font-family: "WorkSans-Thin"
    src: url("../fonts/WorkSans/WorkSans-Thin.ttf") format("TrueType")
@font-face 
    font-family: "FontAwesome5Brands Regular"
    src: url("../fonts/FontAwesome/FontAwesome5Brands Regular.otf") format("otf")

@font-face 
    font-family: "FontAwesome5Free Solid"
    src: url("../fonts/FontAwesome/FontAwesome5Free Solid.otf") format("woff")